name: ts

on:
  pull_request:
    paths:
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/ts.yaml
  push:
    branches:
      - main
    paths:
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/ts.yaml

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm test
      - run: pnpm build

      # e2e-test
      - name: e2e / prepare a fixture
        run: |
          mkdir e2e-test-fixture-directory
          date > e2e-test-fixture-directory/date
          echo '${{ github.ref }}' > e2e-test-fixture-directory/ref
      - name: e2e / create a new branch from default branch
        uses: ./
        with:
          ref: refs/heads/e2e-test-fixture-branch/${{ github.ref }}
          path: e2e-test-fixture-directory
          message: |
            Create a new branch from default branch

            ${{ github.sha }}
            ${{ github.event.pull_request.html_url }}

      - name: e2e / update the fixture
        run: date >> e2e-test-fixture-directory/date
      - name: e2e / update the branch
        uses: ./
        with:
          ref: refs/heads/e2e-test-fixture-branch/${{ github.ref }}
          path: e2e-test-fixture-directory
          message: |
            Update the branch

            ${{ github.sha }}
            ${{ github.event.pull_request.html_url }}
      - name: e2e / do nothing if no change
        uses: ./
        with:
          ref: refs/heads/e2e-test-fixture-branch/${{ github.ref }}
          path: e2e-test-fixture-directory
          message: Do nothing if no change

      - name: e2e / clean up the fixture
        run: git push origin --delete e2e-test-fixture-branch/${{ github.ref }}
        if: always()

  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm biome check --fix
      - uses: int128/update-generated-files-action@57b7ce80d0aca361f4dc61f09717043daa7d0956 # v2.65.0
